/* When the browser is at least 600px and above */ 
@media screen and (max-width: 319px) { 
body {
  margin: 4px;
  /* other styling */
  border: solid 2px;
  border-radius: 5px;
	color: #red;
  font-family: 'Avenir';
	font-weight: bold;
  height: auto;
  text-align: center;
  //width: 319px;
}
}

/* When the browser is at least 600px and above */ 
@media screen (max-width: 319px) { 
body {
  margin: 4px;
  /* other styling */
  border: solid 2px;
  border-radius: 5px;
	color: #green;
  font-family: 'Avenir';
	font-weight: bold;
  height: auto;
  text-align: center;
  //width: 319px;
}

/* Matches screen between 320px AND 768px */ 
@media screen (min-width: 320px) and (max-width: 768px) { 
body {
  margin: 8px;
  /* other styling */
  border: solid 2px;
  border-radius: 5px;
	color: #blue;
  font-family: 'Avenir';
	font-weight: bold;
  height: auto;
  text-align: center;
  //width: 319px;
}

/* Matches screen min 769px */ 
@media screen (min-width: 769px) { 
body {
  margin: 8px;
  /* other styling */
  border: solid 2px;
  border-radius: 5px;
	color: #black;
  font-family: 'Avenir';
	font-weight: bold;
  height: auto;
  text-align: center;
  //width: 319px;
}




html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

table {
	margin: 0 0 20px;
	width: 100%;
	background: #f5f5f5;
}
th {
	background: #e5e5e5;
	font-weight: bold;
}
th,
td {
	padding: 10px;
	border-bottom: 1px solid #e5e5e5;
}
tr:last-of-type td {
	border-bottom: none;
}



