<span class="entry-format-badge genericon genericon-location"><span class="screen-reader-text">Location</span></span>
<!--<h2>{{ page.title }}</h2>-->

<p class="meta">{{ page.date | date_to_string }}</p>

<p><img src="/assets/img/post-images/{{page.highresolutionimg}}" alt="{{ page.title }}"></p>

<div class="post">


<div id="g_body">
<h2>Anbieterkennzeichnung</h2>
<p>Diese NextCloud Instanz ist eine Privat genutzte Cloud und wird ohne Gewinnabsichten Betrieben/Betreut von:</p>
<blockquote>
{{ content }}
</blockquote>
</div>

<div id="g_body">
<h2>Cookie-Hinweise für nextcloud / pfeiffer.zip</h2>
<p>
Nextcloud setzt zwei Cookies, um die Sitzung zu kennzeichnen.  
Diese werden nach Beendigung der Browser-Sitzung gelöscht.  
Zwei weitere Cookies speichern den Wert "true", damit werden bestimmte Angriffe erschwert.  
Mit diesen Cookies lassen sich keine Benutzer oder Sitzungen verfolgen.  
Demzufolge sind alle diese funktional Cookies nicht zustimmungspflichtig.  

Aus diesem Grund gibt es (derzeit) keinen Cookie-Banner.
</blockquote>
</div>


	
<p><!-- Hinweis: Behörden nutzen Bitte die beim Registrar hinterlegte Anschrift. --></p>
<p>Verantwortlich i.S.d. § 18 Abs. 2 MStV:</p>
<blockquote>
<ul>
<li>----  (keine redaktionell-journalistische Inhalte) </li>
</ul>
</blockquote>
<h2>Klausel</h2>
<blockquote>
<p>Der Nutzung von im Rahmen der Impressumspflicht sowie im Rahmen der Domainregistrierung beim Registrar veröffentlichten Kontaktdaten (Whois) durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen.</p>
<p>Als Betreiber der Seite behalte ich mir ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen; etwa durch Spam-Mails, Werbeanrufe, ect.; vor.</p>
</blockquote>
<div>
<h2>Kontakt</h2>
<h4><b>Telefonisch:</b></h4>
<blockquote>
<p>Eine Telefonische Kontaktaufnahme ist möglich unter der Rufnummer<br>
<script>
// Function to reverse string 

function ReverseString(str) { 

   return str.split('').reverse().join('') 

} 

  

// Function call  

document.write(ReverseString("923 gizfnüfdnuiewztrednuhreiv 87 shces 510 )0( 9400")) 

</script> 
<noscript>
<span style="text-decoration: underline wavy red; ">Your browser does not support JavaScript - but is required to display the number! <br/>
Javascript ist Deaktiviert oder wird nicht unterstützt - wird aber benötigt um die Nummer anzuzeigen!</span>
</noscript>


</p>
<p>Hinterlassen Sie gerne Ihre Kontaktdaten unter Nennung Ihres<br>
Grundes für den Anruf, sofern die Mailbox das Gespräch annimmt.</p>
<p>Ein Empfang von SMS ist NICHT möglich!</p>
</blockquote>
<h4><b>Mail:</b></h4>
<blockquote>
<div><a title="Kontakt" href="https://goto.pc-cdn.de/kontakt" target="_blank" rel="noopener noreferrer">zum Kontaktformular</a></div>
</blockquote>
<h4><b>Threema:</b></h4>
<blockquote>
<div><a title="Kontakt" href="threema://add?id=D4HT89CW" target="_blank" rel="noopener noreferrer">D4HT89CW</a></div>
</blockquote>

</div>
</div>
